body {
  display: flex;
  justify-content: center;
}

img {
    height: 200px;
    width: 200px;
    margin: 50px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    

}

img:hover {
    transform: translateX(100%);
}




